body{
  margin: 0;
}
/* #content{
    display: flex;
    flex-direction: column;
  max-width: 2000px;
  height: 100vh;
align-items: center;
} */


/* Main Page */
.title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: rgb(16,24,32,0.7);
    max-width: 2000px;
    height: 120px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   margin-bottom: 25px;
   height: 50px;
}

button{
    font-family: 'Dancing Script', cursive;
    font-size: 27px;
    background-color: inherit;
   border: none;
    margin: 10px;
    color: rgb(16,24,32,0.9);;
}
button:hover{
    background-color: rgb(16,24,32,0.2);
}
button:active{
    border-bottom: white solid 2px;
}
h1{
    font-family: 'Italianno', cursive;
    font-size: 40px;
    position: relative;
    left: 70px;
    top: 20px;
}
.spantitle{
    font-family: 'Italianno', cursive;
    position: relative;
    top: 10px;
    font-size: 35px;
}

/* Main Div */
.main{
    background-color: rgb(16,24,32,0.3);
    /* display: flex;
    justify-content: center; */
}
.mainPic{
    
display: flex;
justify-content: center;
}

#img{
    margin: 15px;
    border-radius: 10%;
    width: 500px;
    height: 350px;
}
.text{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    text-align: center;

}
h3{
  margin: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.hours{
display: flex;
flex-direction: column;
margin-left: 700px;
    width: 250px;
    height: 300px;  
}
.hoursspan{
    font-family: 'Italianno', cursive;
    font-size: 30px;
    margin: 10px;
    left: 50px;
}
p{
    font-size: 23px;
}
/* 
Footer */
.footer{
    overflow: hidden;
    background-color: rgb(16,24,32,0.7);
    max-width: 2000px;
    display: flex;
    height: 70px;
    justify-content: space-between;
}
.footerspan{
    font-family: 'Italianno', cursive;
    position: relative;
    font-size: 25px;
    padding: 20px;
    left: 30px;
margin-right: 35px;
}


h2{
    font-family: 'Dancing Script', cursive;
    font-size: 33px;
}


/* Menue Page */

.Menu{
    transform: scale(1.1) translateY(155px);
    width: 200px;
    height: 280px;
    display: flex;
    margin-left: 55px;
    flex-direction: column;  
}
a{
    text-decoration: none;
    margin: 10px;
    outline: none;
    font-family: 'Dancing Script', cursive; 
    font-size: 23px;
    color:rgb(16,24,32,0.8);
    font-weight: bold;
  
}


/* Beverages */
.beverages{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;

}
.menuPics{
    margin: 20px;
    border-radius: 10%;
    width: 200px;
    height: 170px;
    grid-column: 2;
    
}
.beveragesh3{
  grid-column: 2;  
  grid-row: 1/1;
}

  .menuspan{
    font-family: 'Italianno', cursive;
    font-size: 32px;
   position: relative;
   right: 160px;

  }
  

  /* Pizzas */
  .pizzas{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
  }
  .h3Menu{
    grid-column: 2;  
    grid-row: 1/1;
  }
  .ingredients{
    font-family: 'Italianno', cursive;
    font-size: 32px;
   position: relative;
   right: 160px;

  }

  /* Pastas */
  .pastas{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
  }

  /* Desserts */
  .desserts{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
  }
